<h3>{{i18n "gitter.room"}}: {{integration.room}}</h3>
<h3>{{i18n "gitter.webhook"}}: {{integration.webhook}}</h3>

<table>
  <tr>
    <th>{{i18n "gitter.category"}}</th>
    {{#if siteSettings.tagging_enabled}}
      <th>{{i18n "gitter.tags"}}</th>
    {{/if}}
    <th>{{i18n "gitter.filter"}}</th>
    <th></th>
  </tr>

  {{#each integration.rules as |rule|}}
    <tr>
      <td>{{rule.categoryName}}</td>

      {{#if siteSettings.tagging_enabled}}
        <td>{{rule.tags}}</td>
      {{/if}}

      <td>{{rule.filterName}}</td>
      <td>
        {{d-button action="deleteRule" actionParam=rule icon="trash-o" class="delete btn-danger" title="gitter.delete_rule"}}
      </td>
    </tr>
  {{/each}}

  <tr class="new-filter">
    <td>
      {{category-chooser
        value=editingRule.category_id
        rootNoneLabel="gitter.choose.all_categories"
        rootNone=true}}
    </td>

    {{#if siteSettings.tagging_enabled}}
      <td>{{tag-chooser tags=editingRule.tags placeholderKey="gitter.choose.tags"}}</td>
    {{/if}}

    <td>{{combo-box content=filters value=editingRule.filter}}</td>

    <td>
      {{d-button
        action="saveRule"
        icon="save"
        class="save btn-primary"
        title="gitter.save_rule"}}
    </td>
  </tr>
</table>

<div class="integration-controls">
  {{d-button
    action="testNotification"
    icon="rocket"
    label="gitter.test_notification"
    disabled=testingNotification}}

  {{d-button
    action="deleteIntegration"
    icon="trash-o"
    class="delete btn-danger"
    label="gitter.delete_integration"}}
</div>

