<div class="admin-plugin-gitter">
  <h1>{{i18n "gitter.integrations"}}</h1>

  {{#each model as |integration|}}
    {{integration-item integration=integration
                       filters=filters
                       onDelete=(action "deleteIntegration")}}
  {{/each}}

  <div class="new-integration">
    <h3>{{i18n "gitter.new_integration"}}</h3>
    <div>{{text-field value=editingIntegration.room placeholderKey="gitter.choose.room" class="room"}}</div>
    <div>{{text-field value=editingIntegration.webhook placeholderKey="gitter.choose.webhook" class="webhook"}}</div>
    <div>
      {{d-button
        action="saveIntegration"
        icon="save"
        class="save btn-primary save-integration"
        label="gitter.save_integration"
        title="save"
        disabled=integrationSaveDisabled}}
    </div>
  </div>
</div>


